<!-- CAROUSEL - CLIENTS -->
<swiper [config]="configCarouselClient" class="swiper-container" *ngIf="type === 'clients'">
    <!-- slide content -->
    <div class="swp-clients swiper-wrapper">
        <!-- slide -->
        <div class="swp-full swiper-slide swp-slide-clients" *ngFor="let item of data">
            <!-- card  -->
            <article class="swp-row-start swp-card-flat swp-clients-scard ">
                <img [src]="item.image" class="" />
            </article>
        </div>
    </div>
    <!-- Pagination -->
    <!-- <div class="swiper-pagination"></div> -->
    <!-- Arrows -->
    <div class="swp-btn swiper-button-next"></div>
    <div class="swp-btn swiper-button-prev"></div>
</swiper>


<!-- CAROUSEL - SERVICES  -->
<swiper [config]="configCarouselService" class="swiper-container" *ngIf="type === 'services'">
    <!-- slide content -->
    <div class="swiper-wrapper swp-services">
        <!-- slide -->
        <div class="swiper-slide swp-slide-services" *ngFor="let item of data">
            <!-- card  -->
            <article class="swp-card swp-col-start swp-services-scard">
                <header class="swp-row-start swp-services-scard-header">
                    <i class="{{ item.icon.size}} {{ item.icon.name}}"></i>
                    <h2 class="{{ item.header.size}}">
                        {{ item.header.title}}
                    </h2>
                </header>
                <div class="swp-services-scard-content">
                    <p class="{{ item.sumary.size}}">
                        {{ item.sumary.description}}
                    </p>
                    <!-- <div>
                        <a><i class="fa fa-external-link-alt"></i></a>
                    </div> -->
                </div>
            </article>
        </div>
    </div>
    <!-- Arrows -->
    <div class="swiper-button-next swp-btn"></div>
    <div class="swiper-button-prev swp-btn"></div>
</swiper>



<!-- CAROUSEL - TESTIMONIALS  -->
<swiper [config]="configCarouselTestimonial" class="swiper-container " *ngIf="type === 'testimonials'">
    <!-- slide content -->
    <div class="swiper-wrapper swp-testimonial">
        <!-- slide -->
        <div class="swiper-slide swp-full swp-slide-testimonials" *ngFor="let item of data">
            <!-- card  -->
            <article class="swp-row-start swp-card swp-testimonials-scard">
                <div class="h-full">
                    <i class="{{ item.icon.size}} {{ item.icon.name}}"></i>
                </div>
                <div class="swp-testimonials-scard-header">
                    <header>
                        <div class="line-top"></div>
                        <div class="py-2">
                            <p class="{{ item.sumary.size}} ">
                                {{ item.sumary.description}}
                            </p>
                        </div>
                        <div class="line-bottom"></div>
                    </header>
                    <footer>
                        <p class="{{ item.sign.size}}">
                            {{ item.sign.description}}
                        </p>
                    </footer>
                </div>
            </article>
        </div>
    </div>
    <!-- Arrows -->
    <div class="swp-btn swiper-button-next"></div>
    <div class="swp-btn swiper-button-prev"></div>
</swiper>


<!-- CAROUSEL - PROMOTIONS -->
<swiper [config]="configCarouselPromotions" class="swiper-container swp-cont-promo" *ngIf="type === 'promotions'">
    <!-- slide content -->
    <div class="swiper-wrapper swp-promotions">
        <!-- slide -->
        <div class="swp-slide-promotions swiper-slide" *ngFor="let item of data">
            <article class=" swp-promotions-scard">
                <img *ngIf="item.image !== ''" [src]="item.image"
                    class="absolute object-cover object-center w-full h-full">
            </article>
        </div>
    </div>
    <!-- Arrows -->
    <div class="swiper-button-next swp-btn-promo swp-btn-next">
        <i class="fas fa-chevron-circle-right"></i>
    </div>
    <div class="swiper-button-prev swp-btn-promo swp-btn-prev">
        <i class="fas fa-chevron-circle-left"></i>
    </div>
</swiper>