.swiper-container {
  width: 100%;
  height: auto;
  // height: 57%;
  // height: 600px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  .imgBanner {
    display: block;
    width: 100%;
    height: auto;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
  }
}

.swiper-button-prev,
.swiper-button-next {
  @apply text-gray-50 opacity-75;
}

.swiper-container-horizontal>.swiper-pagination-bullet-active {
  background-color: #ff89 !important;
  opacity: 0 !important;
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 20px;
  left: 0;
  width: 100%;
}