<div class="w-full mt-10 swiper-container ">
    <div class="w-full h-full swiper-wrapper">
        <!-- <div class="p-10 swiper-slide"
            [ngStyle]="{'background-image':' url(' + imgUrl + ')', 'background-position': 'center', 'background-repeat':'none'}"> -->
        <div class="w-full h-full p-10 swiper-slide">
            <img src="./assets/fondo_banner.jpg" class="imgBanner">
            <div class="z-50 flex flex-row items-start justify-between w-full h-full ">
                <section class="flex w-3/5 ">
                    <img src="./assets/fondo_banner_img.png" class="mt-0 ml-5 md:wlg:w-full">
                </section>
                <section class="absolute flex flex-col items-start w-2/5 mt-5 right-4 md:right-4 xl:right-8 md:mt-8 lg:mt-16 xl:mt-28">
                    <div class="w-full text-left ">
                        <h1
                            class="ml-3 text-xl font-medium text-white capitalize sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl">
                            Soluciones rápidas<br>
                            <span class="mt-2 -ml-3 font-bold text-yellow-500 uppercase">
                                ¡para tu negocio!
                            </span>
                        </h1>
                        <p class="p-3 text-xs font-thin text-left text-white md:text-sm lg:text-xl xl:text-2xl">
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt ut labore.
                        </p>
                    </div>
                    <div class="flex flex-row items-center justify-end w-full space-x-4 text-sm transform scale-50 md:scale-75 lg:scale-90 xl:scale-100 md:-ml-5 lg:-ml-10 xl:-ml-20">
                        <button class="flex p-2 px-3 font-medium text-white uppercase bg-blue-900 border-2 border-blue-900 rounded hover:bg-bluedark hover:border-bluedark ">
                            empezar
                          </button>
                          <button class="flex p-2 px-3 font-medium text-blue-900 uppercase bg-transparent border-2 border-blue-900 rounded hover:bg-blue-800 hover:border-blue-800 hover:text-white">
                            demostración
                          </button>
                    </div>
                </section>
            </div>
        </div>


    </div>
    <!-- Add Pagination -->
    <!-- <div class="swiper-pagination"></div> -->
    <!-- Add Arrows -->
    <div class="transform scale-90 swiper-button-next "></div>
    <div class="transform scale-90 swiper-button-prev "></div>
</div>