<section class="flex flex-col w-full h-full" *ngIf="type === 'normal'">
    <div *ngFor="let item of data; let i=index" >
        <div class="flex flex-row w-full h-auto">
            <!-- {{ data | json}} -->
            <article class="flex items-center justify-between w-full h-full px-5 py-2 border border-black lg:px-10"
                [ngClass]="item.location === 'left' ? 'flex-col md:flex-row ':'flex-col md:flex-row-reverse'">
                <img [src]="item.image" class="h-40 xl:h-96 lg:h-80 sm:h-44 sm:block md:h-56 "
                    [ngClass]="item.location === 'left' ? 'pr-0 md:pr-2 lg:pr-0 xl:pr-5':'pl-0 md:pr-2 lg:pl-0 xl:pl-5'">
                <section class="flex flex-col items-start justify-center w-full h-full sm:px-0">
                    <div
                        class="flex flex-row items-center justify-start w-full mb-0 text-2xl font-black capitalize sm:mb-1 md:mb-1 lg:mb-2 sm:text-xl md:text-2xl lg:text-4xl xl:text-5xl">
                        <h1 class="w-auto text-smart-300 ">
                            {{ item.title}}
                        </h1>
                    </div>
                    <p
                        class="flex px-0 mb-0 text-sm font-bold text-justify text-gray-500 line-clamp-4 md:line-clamp-none sm:mb-2 md:mb-6 sm:p-0 sm:text-base md:text-base lg:text-xl xl:text-2xl">
                        {{ item.description}}
                    </p>
                    <div *ngIf="item.buttons.length > 0"
                        class="flex flex-row items-center justify-start w-full pr-0 mt-5 ml-0 space-x-4 text-xs font-bold sm:mt-2 sm:text-xs ">
                        <div *ngFor="let itemBtn of item.buttons; let i = index">
                            <div class="p-1 font-bold uppercase transform border-2 rounded sm:p-2 focus:outline-none"
                                [ngClass]="itemBtn.type === 'active'?'text-white bg-smart-300 border-smart-300   hover:bg-smart-400 hover:border-smart-400 hover:text-white ':'bg-transparente  border-smart-300 hover:bg-smart-200 hover:border-smart-200 text-smart-300 hover:text-white'">
                                <a [href]="itemBtn.link" class="flex transform scale-75 sm:scale-90 lg:scale-95 xl:scale-100">{{itemBtn.name}}</a>
                            </div>
                        </div>
                    </div>
                </section>
            </article>
        </div>
    </div>
</section>