<!-- HEADER - SLIDER -->
<swiper [config]="configHeaderSlide" class="swiper-container" *ngIf="type === 'slider'">
    <!-- slide content -->
    <div class="swiper-wrapper swp-home ">
        <!-- slide -->
        <div class=" swp-row-start swiper-slide swp-slide-home" *ngFor="let item of data">
            <div class="swp-home-bg">
                <!-- fondo  -->
                <img *ngIf="item.background !== ''" [src]="item.background" class="img-banner">
                <!-- contenido  -->
                <article class="swp-row-start swp-home-scard">
                    <div class="swp-row-start swp-home-scard-content">
                        <div class="swp-row-start swp-home-scard-img">
                            <img *ngIf="item.image !== ''" [src]="item.image" class="object-cover object-center">
                        </div>
                        <div class="swp-row-start swp-home-scard-txt">
                            <section class="swp-col-center">
                                <h1 class="title-first">{{ item.title}}</h1>
                                <h1 class="title-second">{{ item.title2}}</h1>
                                <p>{{ item.description}}</p>
                                <div *ngIf="item.buttons.length > 0" class="swp-row-end btn-content ">
                                    <div *ngFor="let itemBtn of item.buttons; let i = index">
                                        <div class="btn-object"
                                            [ngClass]="itemBtn.type === 'active'?'btn-active':'btn-inactive'">
                                            <a [href]="itemBtn.link">{{itemBtn.name}}</a>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <!-- Pagination -->
    <div class="swiper-pagination swiper-pagination-white swp-pag"></div>
    <!-- Arrows -->
    <div class="swiper-button-next swp-btn swiper-button-white"></div>
    <div class="swiper-button-prev swp-btn swiper-button-white"></div>
</swiper>


<!-- HEADER - INTERN -->
<section class="header-container" *ngIf="type === 'intern'">
    <!-- header content -->
    <div class="header-wrapper hd-intern">
        <!-- fondo  -->
        <div class="hd-intern-bg ">
            <img *ngIf="data[0].background !== ''" [src]="data[0].background" class=" img-banner">
            <article class="hd-row-start hd-intern-scard">
                <div class="hd-row-start hd-intern-scard-content">
                    <!-- contenido  -->
                    <div class="hd-row-start hd-intern-scard-txt">
                        <section class="hd-col-center">
                            <div class="hd-row-start title-cont">
                                <h1 class="title-first">{{ data[0].title}}</h1>
                                <h1 class="title-second" [ngClass]="words === 1 ?'pl-0':'pl-3'">{{ data[0].title2}}</h1>
                            </div>
                            <p>{{ data[0].description}}</p>
                            <div *ngIf="data[0].buttons.length > 0" class="hd-row-end btn-content ">
                                <div *ngFor="let itemBtn of data[0].buttons; let i = index">
                                    <div class="btn-object"
                                        [ngClass]="itemBtn.type === 'active'?'btn-active':'btn-inactive'">
                                        <a [href]="itemBtn.link">{{itemBtn.name}}</a>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="hd-row-center hd-intern-scard-img">
                        <img *ngIf="data[0].image !== ''" [src]="data[0].image">
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>


<!-- HEADER - CONTACTS -->
<section class="header-container" *ngIf="type === 'contacts'">
    <!-- header content -->
    <div class="header-wrapper hd-intern">
        <!-- fondo  -->
        <div class="hd-intern-bg ">
            <img *ngIf="data[0].background !== ''" [src]="data[0].background" class=" img-banner">
            <article class="hd-row-start hd-intern-scard">
                <div class="hd-row-start hd-intern-scard-content">
                    <!-- contenido  -->
                    <div class="hd-row-start hd-intern-scard-txt">
                        <section class="hd-col-center">
                            <div class="hd-row-start title-cont">
                                <h1 class="title-first">{{ data[0].title}}</h1>
                                <h1 class="title-second" [ngClass]="words === 1 ?'pl-0':'pl-3'">{{ data[0].title2}}</h1>
                            </div>
                            <p>{{ data[0].description}}</p>
                            <div *ngIf="data[0].buttons.length > 0" class="hd-row-end btn-content ">
                                <div *ngFor="let itemBtn of data[0].buttons; let i = index">
                                    <div class="btn-object"
                                        [ngClass]="itemBtn.type === 'active'?'btn-active':'btn-inactive'">
                                        <a [href]="itemBtn.link">{{itemBtn.name}}</a>
                                    </div>
                                </div>
                            </div>
                            <div *ngFor="let itemCont of data[0].contact; let i = index" class="hd-row-start cont-info">
                                <div class="hd-col-start cont-info-left ">
                                    <div *ngFor="let itemContEmail of itemCont.emails; let j = index"
                                        class="hd-row-start info-left-emails">
                                        <i class="far fa-envelope"></i>
                                        <p> {{ itemContEmail.description }}</p>
                                    </div>
                                    <app-socials class="pl-0 mt-1 md:mt-1 lg:mt-2" [data]="itemCont.socials"
                                        [color]="'white'"
                                        [size]="'text-sm sm:text-base md:text-base lg:text-xl xl:text-3xl'"
                                        [space]="'space-x-4'">
                                    </app-socials>
                                </div>
                                <div class="hd-col-start cont-info-right">
                                    <div *ngFor="let itemContEmail of itemCont.phones; let j = index"
                                        class="hd-row-start info-right-phones">
                                        <i class="fas fa-phone-square-alt"></i>
                                        <p> +{{ itemContEmail.cod_country }} ({{ itemContEmail.cod_area }}) {{
                                            itemContEmail.number
                                            }}</p>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="hd-row-center hd-intern-scard-img">
                        <img *ngIf="data[0].image !== ''" [src]="data[0].image">
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>