<div class="w-full mt-2 sm:-mt-20 md:-mt-24 lg:-mt-24 xl:-mt-14 swiper-container banner-slider ">
    <div class="w-full h-64 swiper-wrapper sm:h-96 md:h-100 lg:h-105 xl:h-110">
        <div class="hidden w-full h-full p-10 swiper-slide sm:flex">
            <img src="./assets/fondo_banner.jpg" class="imgBanner">
            <div class="z-50 flex flex-row items-start justify-between w-full h-full ">
                <section class="flex items-center justify-center w-3/5 h-full ">
                    <div class="sm:mt-4">
                        <img src="./assets/fondo_banner_img.png" class="w-4/6 md:w-11/12 xl:w-9/12 xl:ml-10">
                    </div>
                </section>
                <section class="absolute flex flex-col items-start w-1/2 mt-5 md:w-2/5 right-4 sm:right-8 md:right-12 xl:right-12 sm:mt-14 md:mt-20 lg:mt-16 xl:mt-28">
                    <div class="w-full text-left ">
                        <h1
                            class="ml-3 text-xl font-medium text-white capitalize sm:text-xl md:text-2xl lg:text-4xl xl:text-5xl">Soluciones rápidas<br>
                            <span class="mt-2 -ml-3 font-bold text-yellow-500 uppercase">
                                ¡para tu negocio!
                            </span>
                        </h1>
                        <p class="p-3 text-xs font-thin text-left text-white sm:text-sm md:text-sm lg:text-xl xl:text-2xl">
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt ut labore.
                        </p>
                    </div>
                    <div class="flex flex-row items-center justify-end w-full space-x-4 text-sm transform scale-50 md:scale-75 lg:scale-90 xl:scale-100 md:-ml-5 lg:-ml-10 xl:-ml-20">
                        <button class="flex p-2 px-3 font-medium text-white uppercase bg-blue-900 border-2 border-blue-900 rounded hover:bg-bluedark hover:border-bluedark ">
                            empezar
                          </button>
                          <button class="flex p-2 px-3 font-medium text-blue-900 uppercase bg-transparent border-2 border-blue-900 rounded hover:bg-blue-800 hover:border-blue-800 hover:text-white">
                            demostración
                          </button>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- Add Pagination -->
    <!-- <div class="swiper-pagination"></div> -->
    <!-- Add Arrows -->
    <div class="transform scale-75 swiper-button-next "></div>
    <div class="transform scale-75 swiper-button-prev "></div>
</div>