<section class="fixed inset-0 z-50 w-full h-16 bg-white xl:bg-contain">
  <!-- Menu normal -->
  <div class="flex items-center justify-center w-full h-16 px-4 shadow-md">
    <nav *ngFor="let item of dataNavbar; let i = index" class="flex items-center justify-between w-full ">
      <div class="mt-1">
        <a class="text-3xl font-semibold leading-none" href="#">
          <img class="h-10 sm:h-10 lg:h-14" [src]="item.logo" alt="" width="auto">
        </a>
      </div>
      <div class="md:hidden">
        <button (click)="toggleMenuMobile()"
          class="flex items-center px-3 py-2 border-2 rounded outline-none cursor-pointer border-smart-300 text-smart-300 navbar-burger hover:text-white hover:bg-smart-300">
          <svg class="w-4 h-5 fill-current" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <title>Mobile menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
          </svg>
        </button>
      </div>
      <ul
        class="justify-end flex-1 hidden h-8 pr-5 text-xs text-gray-500 uppercase md:text-sm lg:text-base xl:text-base md:flex md:items-center md:w-auto md:space-x-2 lg:space-x-3 xl:space-x-4">
        <li *ngFor="let itemNode of item.items; let i = index">
          <a [href]="itemNode.link"
            [ngClass]="{'text-smart-300 border-b-2 border-smart-300':  urlActive === itemNode.link}"
            class="h-full py-2 font-medium transition duration-300 cursor-pointer hover:text-smart-300 hover:border-smart-300 hover:border-b-2 ">{{itemNode.name}}</a>
        </li>
      </ul>

      <!-- Boton de busqueda -->
      <button
        class="hidden p-1 text-smart-300 md:block md:mt-1 hover:text-smart-300 focus:outline-none focus:ring-2 focus:ring-white">
        <i class="text-xl lg:text-xl fas fa-search"></i>
      </button>

      <!-- Boton inicio de sesion  -->
      <button
        class="hidden px-2 py-2 ml-2 text-xs font-medium text-white uppercase transform scale-90 rounded bg-smart-300 md:block dark:bg-smart-400 hover:bg-smart-400 dark:hover:bg-smart-400 focus:outline-none focus:bg-smart-400 dark:focus:bg-smart-400">
        INGRESAR
      </button>
      <!-- </div> -->
    </nav>
  </div>
  <!-- FIN // Menu normal -->
  <!--Search-->
  <div class="relative hidden w-full mt-2 bg-white shadow-lg" id="search-content">
    <input id="searchfield" type="search" placeholder="Buscar..." autofocus="autofocus"
      class="w-full p-2 text-sm leading-normal text-gray-500 transition appearance-none focus:outline-none focus:border-transparent lg:text-xl">
  </div>
  <!--FIN // Search-->


  <!-- MENU MOBILE -->
  <div class="z-50 flex flex-col justify-between md:hidden cont-sidebar"
    [ngClass]="menuMobile ?'fixed inset-0' : 'block'">

    <div class="inset-0 overflow-hidden " [ngClass]="menuMobile? 'inset-0 absolute': 'block'">
      <!-- OVerlay -->
      <div class="inset-0 bg-gray-900 bg-opacity-75 " (click)="toggleMenuMobile()"
        [ngClass]="menuMobile?'absolute': 'flex'">
      </div>
      <!-- FIN // OVerlay -->

      <!-- Menu -->
      <section class="transition duration-300 transform "
        [ngClass]="menuMobile ? 'absolute flex inset-y-0 left-0 translate-x-0 ease-out': 'fixed flex inset-y-0 left-0 -translate-x-full ease-in'">
        <div class="relative w-96">
          <div *ngFor="let item of dataNavbar; let i = index"
            class="flex flex-col h-full px-6 py-6 overflow-y-auto bg-white">
            <!-- Header del Menu  -->
            <header class="w-full">
              <div class="flex justify-between w-full font-sans text-lg font-normal text-white">
                <div class="flex items-center w-full py-2">
                  <a class="mr-auto text-3xl font-semibold leading-none" href="#">
                    <img class="h-14 " [src]="item.logo" alt="" width="auto">
                  </a>
                </div>
                <div class="mt-4 md:hidden">
                  <!-- Boton cerrar -->
                  <button (click)="toggleMenuMobile()"
                    class="flex items-center px-1 py-1 border-2 rounded outline-none cursor-pointer border-smart-300 text-smart-300 navbar-burger hover:text-white hover:bg-smart-300">
                    <svg class="w-6 h-6"
                      xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
                      </path>
                    </svg>
                  </button>
                  <!-- FIN // Boton cerrar -->
                </div>
              </div>
            </header>
            <!-- Header del Menu  -->
            <!-- Contenido del Menu  -->
            <div class="relative flex-1">
              <div class="absolute inset-0 flex flex-col justify-between bg-white sm:flex cont-sidebar">
                <!-- Menu de opciones -->
                <div class="h-full border-gray-200">
                  <ul class="text-sm ">
                    <li *ngFor="let itemNode of item.items; let i = index"
                      class="mb-1 text-gray-500 cursor-pointer hover:bg-smart-50 hover:text-smart-300">
                      <a [href]="itemNode.link"
                        [ngClass]="{'text-white hover:text-white bg-smart-300 rounded  hover:bg-smart-400':  urlActive === itemNode.link}"
                        class="block p-2 font-medium rounded">{{itemNode.name}}</a>
                    </li>
                  </ul>
                </div>
                <!-- FIN // Menu de opciones -->
              </div>
            </div>
            <!-- FIN // Contenido del Menu  -->
            <!-- Footer menu -->
            <div class="flex flex-col items-center justify-center mt-auto">
              <div class="flex flex-col w-full pt-6 mt-4 mb-5 border-t border-gray-100">
                <a class="block px-4 py-3 mb-3 text-sm font-semibold leading-none text-center text-white rounded bg-smart-300 hover:bg-smart-400"
                  href="#">Iniciar sesión</a>
                <a class="block px-4 py-3 mb-2 text-sm font-semibold leading-none text-center bg-white border rounded text-smart-300 border-smart-300 hover:bg-smart-200 hover:text-white hover:border-smart-200"
                  href="#">Registrar cuenta</a>
              </div>
              <app-socials [data]="iconSocials" [color]="'smart-300'" [size]="'2xl'"></app-socials>
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>
</section>